<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Lisää kirja</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body>
	<h1>Lisää uusi kirja</h1>
	<form action="#" th:action="@{/savebook}" th:object="${book}" method="post">	
		<div>
		
			<label for="title">Teoksen nimi</label>
			<input type="text" placeholder="Teoksen nimi" th:field="*{title}" />
			<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</span>
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="author">Tekijä</label>
			<input type="text" placeholder="Tekijä" th:field="*{author}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="category">Kieli</label>
			<select th:field="*{category}" class="form-control">
       			<option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.categoryName}"></option>
    		</select>
    		
    		<div style="clear: both; display: block; height: 10px;"></div>
			<label for="publicationYear">Julkaisuvuosi</label>
			<input type="text" placeholder="Julkaisuvuosi" th:field="*{publicationYear}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="isbn">ISBN</label>
			<input type="text" placeholder="ISBN" th:field="*{isbn}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="price">Hinta</label>
			<input type="text" placeholder="Hinta" th:field="*{price}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			
			
		</div>
		<input type="submit" value="Lisää" />

	</form>

</body>

</html>