<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Muokkaa kirjaa</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body>
	<form action="#" th:action="@{/saveeditedbook}" th:object="${editBook}" method="post">
		<div>Muokkaa kirjan tietoja</div>
		<input type="hidden" th:field="*{id}" class="form-control" />
		<div>
			<input type="text" placeholder="Teoksen nimi" th:field="*{title}" />
			<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</div>
		</div>
		<div>
			<input type="text" placeholder="Tekijä" th:field="*{author}" />
		</div>
		<div>
			<select th:field="*{category}" class="form-control">
       			<option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.categoryName}"></option>
    		</select>
		</div>
		<div>
			<input type="text" placeholder="Julkaisuvuosi" th:field="*{publicationYear}" />
			<div th:if="${#fields.hasErrors('publicationYear')}" th:errors="*{publicationYear}">Error</div>
		</div>
		<div>
			<input type="text" placeholder="ISBN" th:field="*{isbn}" />
			<div th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}">Error</div>
		</div>
		<div>
			<input type="text" placeholder="Hinta" th:field="*{price}" />
			<div th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Error</div>
		</div>
		<input class="btn btn-success" type="submit" value="Päivitä" />

	</form>

</body>

</html>